
<link rel="stylesheet" href="/static/Css/card.css">

<div class="card">
  <div class="imagebox">
    <img
      src="https://jsondatasend.pythonanywhere.com/static/{{j}}"
      alt=""
    />
  </div>

  <div class="content">
    <h2>{{i[:25]}} {{data_2[i]}}%</h2>
    <button class="btn">More info</button>
  </div>
</div>
