{% extends 'base.html' %}

{% block basefile %}

{% if not user %}

<div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Seriously !</strong> Register Your Self To Carbon For Getting Personalization Recommendation Free Or You should check in on some of those heaven below.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

{% else %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>🤗</strong> Im' so happy to see you with Carbon Enjoy and find something new and exciting to watch.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% include 'home_base_for_rec.html' %}

{% endblock basefile %}