<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/Css/login.css" />
    <title>Login</title>
  </head>
  <body style="background-color: black">
    <div class="center">
      <h2>
        <img src="https://xp.io/storage/PpCzMkk.png" style="width: 55px;" alt="" />
        <span class="MID"> Login </span>
      </h2>
      {% with messages = get_flashed_messages() %} {% if messages %} {% for
      message in messages %}
      <h6 style="text-align: center; color: red">{{message}}</h6>
      {% endfor %} {% endif %} {% endwith %}
      <form action="" method="POST">
        {{xfor.hidden_tag()}}
        <div class="text_field">
            {{xfor.username()}}
          <span></span>
          <label for="">Username</label>
        </div>

        <div class="text_field">
            {{xfor.password()}}
          <span></span>
          <label for="">Password</label>
        </div>
        <div class="pass">
          <a href="" style="text-decoration: none; color: rgb(179, 175, 175)"
            >Forgot Password?</a
          >
        </div>
        {{xfor.submit()}}

        <div class="signup_link">
          Not a member <a href="/register">Signup</a>
        </div>
      </form>
    </div>
  </body>
</html>
