
<style>
  @import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@500&family=Joan&family=Poppins&display=swap');

  *{
    font-family: 'Anek Latin', sans-serif;
    font-size: large;
  }
  #gren{
    color: #50fa7b;
  }
</style>

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#" style="color: #ff79c6;"  id="head_">
    <img src="/static/images/ezgif-5-6f1f1b48fe.gif" style="width: 50px; height: 50px; border-radius: 35px;" alt="" >
     Carbon</a>
  <button
    class="navbar-toggler"     
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" id="gren"
          ><img src="/static/images/home.png" alt=""> Home</a
        >
      </li>
      <li class="nav-item active">
        <a class="nav-link ww" id="gren" href="#"> <img src="/static/images/register.png" alt=""> Register</a>
      </li>
      <li class="nav-item active">
        
        <a class="nav-link" id="gren" href="#"><img src="/static/images/permission.png" alt=""> Login</a>
      </li>
    </ul>
  </div>
</nav>

