<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recommend</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="/static/Css/search.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  body {
    background-color: #1f1f1f;
    line-height: 1.5;
  }

  header {
    width: 100%;
    padding: 15px 0;
  }

  header h4 {
    font-size: 1.4rem;
    text-align: center;
    color: #fff;
  }

  section .container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    align-items: start;
  }

  section .anime-box {
    background-color: #101010;
    color: #999;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
  }

  section .anime-img {
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
  }

  section .anime-box:hover .anime-img {
    height: 70px;
    transition: all .3s ;
  }

  section .anime-box:hover .anime-img .blank {
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);
    margin: 0;
  }

  section .anime-content {
    padding: 10px;
    background-color: #101010;
  }

  section .anime-name {
    color: #666;
    font-size: 1.1rem;
    text-transform: capitalize;

    display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  }

  section .anime-similarity {
    font-size: .9rem;
    color: #444;
  }

  section .anime-desc {
    color: #555;
    font-size: 0.8rem;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 0;
    padding: 0;
    margin: 0;
  }

  section .anime-box:hover .anime-desc {
    height: 210px;
    overflow-y: auto;
  }

  /* width */
  section .anime-desc::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  section .anime-desc::-webkit-scrollbar-track {
    background: #333;
    border-radius: 3px;
  }

  /* Handle */
  section .anime-desc::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 3px;
  }

  /* Handle on hover */
  section .anime-desc::-webkit-scrollbar-thumb:hover {
    background: #777;
  }

  section .anime-box .red-line {
    margin-top: 10px;
    border: 1px solid red;
    height: 0;
    width: 100%;
    transition: all .2s;
  }

  .NEXT{
    text-decoration: none;
    color: #666;

  }

  section .anime-box:hover .red-line {
    display: none;
  }

  @media(max-width: 1400px) {
    section .container {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  @media(max-width: 1200px) {
    section .container {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media(max-width: 992px) {
    section .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media(max-width: 768px) {
    section .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
    }
  }

  @media(max-width: 576px) {
    section .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }

    section .anime-img {
      height: 220px;
    }

    section .anime-box:hover .anime-desc {
      height: 150px;
    }
  }

</style>

<body>
  <div class="" style="margin-top: 20px;">
    <form action="/search">
      <span> </span>
    <button class="btn btn-outline-danger" type="submit"> <i class="fa fa-hand-o-left"></i> Search Page</button></form>
</div>
  <header>
    <h4>Recommendation For ({{name.upper()}})</h4>
  </header>

  <section>
    <div class="container">
      {% for i,j in data %}
      <div class="anime-box">
        {% if j == "https://cdn.anime-planet.com/images/anime/default/default-anime-summer.png" %}
        <div class="anime-img"
          style="background-image: url('https://jsondatasend.pythonanywhere.com/static/default-anime-summer.png');">
        {% else %}
        <div class="anime-img"
        style="background-image: url('https://jsondatasend.pythonanywhere.com/static/{{j}}');">
        {% endif %}
          <div class="blank"></div>
        </div>
        <div class="anime-content">
          <h2 class="anime-name"><a class="NEXT" href="/search_by_name/{{i}}">{{i}}</a></h2>
          <h3 class="anime-similarity">({{data_2[i]}} %) similarity</h3>
          <p class="anime-desc">{{data_3[i]}}</p>
          <div class="red-line"></div>
        </div>
        
      </div>
      {% endfor %}
    </div>
  </section>
</body>

</html>