

<head>
    <link rel="stylesheet" href="static/Css/style.css">
  <style>
    .middle_2 {
      background:rgb(151, 204, 197);
    }
  </style>

</head>

<div class="container middle_2">
    <form  method="post">
      {{xfor.hidden_tag()}}
      <div class="mb-3">
          {{xfor.name(class_="form-control")}}
        </div>
      <div class="mb-3">
        {{xfor.email(class_="form-control")}}
      </div>
      <div class="mb-3">
        {{xfor.password(class_="form-control")}}
      </div>
      <div class="mb-3">
          {{xfor.conf_password(class_="form-control")}}
        </div>
        <div class="signup_link">
          <h6 style="text-align: center;">Old Member<a href="/login"> Login</a></h6>
        </div>

      {{xfor.submit(class_="btn btn-success")}}
      <!-- <button onclick="check_for_value()" type="submit" class="btn btn-primary">Submit</button> -->
     
    </form>
  </div>

  