/* .card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
    background: rgb(67, 127, 142);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  } */
  
  .card {
    position: absolute;
    height: 180px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.6);
    transition: 0.4s;
    padding: 30px 50px;
    background-color: whitesmoke;
    /* overflow: hidden; */
  }
  
  .imagebox {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-60px);
    z-index: 1;
  }
  img {
    width: 100%;
    border-radius: 10px;
  }
  
  .content {
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.4s;
  }
  .card:hover {
    height: 270px;
  }
  .card:hover > .content {
    opacity: 1;
    transform: translateY(-50px);
  }
  
  .btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    /* text-transform: uppercase; */
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 12px 33px;
    margin: 0 auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  
  .btn span {
    position: relative;
    z-index: 1;
  }
  
  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #78c7d2;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
  