
body{
  background: linear-gradient(120deg,#418652,#bd93f9);
}

.middle_2 {
    position: absolute;
    top: 50%;
    left: 50%;clear: both;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 370px;
    border-radius: 3px;
    box-shadow: 8px 10px 15px 0 rgba(116, 114, 114, 0.2);
    background: #f8f8f2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
  }
body {
    /* #282a36 */
    background-color: #6272a4;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 330px;
  height: 220px;
  border-radius: 3px;
  box-shadow: 8px 10px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

